
.accordion-enter,
.accordion-exit-done,
.accordion-appear {
  opacity: 0;
  transform: translateY(-10px);
}
.accordion-enter-active,
.accordion-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms;
}
.accordion-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 300ms;
}
